textarea {
  resize: none;
  width: 75%;
  height: 66.239%;
  background: transparent;
  top: 0;
  border: none !important;
  overflow: auto;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
